h1 {
    font-family: Helvetica, Arial, sans-serif;
    color: steelblue;
    font-weight: 100;
}

h1 em {
    font-style: normal;
    font-weight: 600;
    color: crimson;
}

.axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 12px;
}

.series {
    fill: none;
    stroke-width: 2px;
    stroke: #aaa;
}

.series-eu_avg {
    stroke-width: 1px;
}

.series-ro {
    stroke: steelblue;
}

.envelope {
    fill: #aaa;
    opacity: .2;
}
